<div class="toolbar-container" [class.mobile]="isMobile | async">
  <div class="toolbar">
    <a [routerLink]="routes.HOME" (click)="toggleMenu(false)">
      <img
        class="logo"
        alt="sambico-logo"
        [class.mobile]="isMobile | async"
        src="assets/logo/logo-full-horizontal.png"
    /></a>
    <div class="toolbar-actions">
      <ng-container *ngIf="!(isMobile | async)">
        <!-- <a
          class="btn icon-btn hot"
          href="https://eventfrog.de/sambico-festival"
          target="_blank"
        >
          SAMBICO Festival 2024
        </a> -->

        <a
          class="btn icon-btn"
          href="https://www.instagram.com/sambico/"
          target="_blank"
        >
          <i-bs name="instagram" height="28" width="28"></i-bs> </a
        ><a
          class="btn icon-btn"
          href="https://www.tiktok.com/&#64;sambicoe.v"
          target="_blank"
        >
          <i-bs name="tiktok" height="28" width="28"></i-bs>
        </a>
        <a
          class="btn icon-btn"
          href="https://www.facebook.com/SambicoeV/"
          target="_blank"
        >
          <i-bs name="facebook" height="28" width="28"></i-bs>
        </a>
      </ng-container>
      <app-burger-button
        (opened)="toggleMenu($event)"
        [active]="menuOpen"
      ></app-burger-button>
    </div>
  </div>
  <div
    class="menu-wrapper"
    [class.menu-open]="menuOpen"
    [class.mobile]="isMobile | async"
  >
    <app-toolbar-menu></app-toolbar-menu>
  </div>
</div>
