<div class="toolbar-container" [class.mobile]="isMobile | async">
  <div class="toolbar">
    <a [routerLink]="routes.HOME" (click)="toggleMenu(false)">
      <img
        class="logo"
        alt="sambico-logo"
        [class.mobile]="isMobile | async"
        src="assets/logo/logo-full-horizontal.png"
    /></a>
    <div class="toolbar-actions">
      <app-burger-button
        (opened)="toggleMenu($event)"
        [active]="menuOpen"
      ></app-burger-button>
    </div>
  </div>
  <div
    class="menu-wrapper"
    [class.menu-open]="menuOpen"
    [class.mobile]="isMobile | async"
  >
    <app-toolbar-menu></app-toolbar-menu>
  </div>
</div>
