<div class="impressum" id="impressum">
  <h1 class="page-heading">{{ "imprint.title" | translate }}</h1>
  <p class="margin-top-16">
    SAMBICO e.V. <br />
    Murrhardter Str. 30<br />
    71522 Backnang <br />
  </p>
  <p class="margin-top-16">
    <strong>Vertreten durch: </strong><br />
    Silvan Vollmer<br />
    Laura Radatz<br />
    Julian Hofer<br />
    Janine Weißschuh<br />
    Max Härtner<br />
  </p>
  <p class="margin-top-16">
    <strong>Kontakt:</strong><br />
    Murrhardter Str. 30<br />
    71522 Backnang<br />
    E-Mail: <a href="mailto:kontakt@sambico.de">kontakt@sambico.de</a><br />
  </p>
  <p class="margin-top-16">
    <strong>Registereintrag: </strong><br />
    Vereinsregister des Amtsgerichts Stuttgart <br />
    Registernummer: VR 725855<br />
  </p>
  <!-- <p>
      <strong>Umsatzsteuer-ID: </strong> <br />
      Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz:
      Musterustid.<br /><br />
      <strong>Wirtschafts-ID: </strong><br />
      Musterwirtschaftsid<br />
    </p> -->
  <!-- <p>
      <strong>Aufsichtsbehörde:</strong><br />
      Musteraufsicht Musterstadt<br />
    </p> -->
  <!-- <p>
      <strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</strong
      ><br />
      Max Muster <br />
      Musterweg<br />
      12345 Musterstadt <br />
    </p> -->
  <!-- <p>
      <strong>Haftungsausschluss: </strong><br /><br /><strong
        >Haftung für Inhalte</strong
      ><br /><br />
      Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die
      Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch
      keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG
      für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen
      verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch
      nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu
      überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige
      Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der
      Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon
      unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt
      der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden
      von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend
      entfernen.<br /><br /><strong>Haftung für Links</strong><br /><br />
      Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren
      Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden
      Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten
      Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten
      verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung
      auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum
      Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche
      Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte
      einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von
      Rechtsverletzungen werden wir derartige Links umgehend entfernen.<br />
    </p> -->
  <br />
</div>
