<div class="blog-preview-container">
  <div class="background"></div>
  <h1 class="heading" [class.mobile]="isMobile | async">
    {{ "blogPreview.title" | translate }}
  </h1>
  <div class="preview-container">
    <div
      class="blog-preview"
      *ngFor="let blog of blogEntries; index as i"
      [class.visible]="visible && i > 0"
      [class.mobile]="isMobile | async"
      [routerLink]="'/' + routes.BLOG"
    >
      <img
        class="image"
        [src]="
          strapiService.getStrapiImageUrl(
            blog.attributes.image.data.attributes.formats,
            (isMobile | async) ? 'small' : 'xlarge'
          )
        "
        alt="blog image"
      />
      <div class="content">
        <h3 class="title">{{ blog.attributes.title }}</h3>
        <h4 class="subtitile" *ngIf="blog.attributes.subTitle">
          {{ blog.attributes.subTitle }}
        </h4>
        <button class="btn icon-btn read-button">
          {{ "blogPreview.readMore" | translate }}
          <i-bs name="chevron-right" width="20" height="20"> </i-bs>
        </button>
      </div>
    </div>
  </div>
  <button class="btn icon-btn read-all-button" [routerLink]="'/' + routes.BLOG">
    {{ "blogPreview.showAll" | translate }}
    <i-bs name="chevron-right" width="20" height="20"> </i-bs>
  </button>
</div>
