@import "/src/variables.scss";

.footer-container {
  width: 100%;
  padding: 40px 10% 0 10%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  height: $footer-height;

  &.mobile {
    text-align: center;
  }
}

.footer-column {
  padding-bottom: 32px;
  justify-content: end;
  display: flex;
  flex-direction: column;
}

.address {
  font-size: 0.9rem;
  color: var(--bs-light);

  img {
    height: 60px;
    margin-bottom: 8px;
  }
}

.about-us {
  padding-left: 8rem;
  padding-right: 8rem;
  margin: 0 auto;
}

.copyright {
  color: var(--bs-light);
  font-size: 0.9rem;
}
