<div class="footer-container" [class.mobile]="isMobile | async">
  <div class="address footer-column">
    <img src="/assets/logo/logo-text-alt.png" />
    <div>SAMBICO e.V.</div>
    <div>Murrhardter Str. 30</div>
    <div>71522 Backnang</div>
    <div>
      E-Mail: <a href="mailto:kontakt@sambico.de">kontakt@sambico.de</a>
    </div>
  </div>

  <div class="about-us footer-column">
    <a [routerLink]="routes.IMPRINT">{{ "imprint.title" | translate }}</a>
    <a [routerLink]="routes.PROJECTS">{{ "projects.title" | translate }}</a>
    <a [routerLink]="routes.BLOG">{{ "blog.title" | translate }}</a>
    <a href="mailto:kontakt@sambico.de">{{ "contact" | translate }}</a>
  </div>

  <div class="copyright footer-column">
    <div class="social">
      <a
        class="btn icon-btn"
        href="https://www.facebook.com/SambicoeV/"
        target="_blank"
      >
        <i-bs name="facebook" height="36" width="36"></i-bs>
      </a>
      <a
        class="btn icon-btn"
        href="https://www.instagram.com/sambico/"
        target="_blank"
      >
        <i-bs name="instagram" height="36" width="36"></i-bs>
      </a>
    </div>
    <div>© {{ year }} SAMBICO e.V.</div>
    <div>{{ "footer.rights-reserved" | translate }}</div>
  </div>
</div>
