.festival-page {
  .content {
    margin-top: 4rem;
    color: var(--bs-light);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .page-heading {
    margin-bottom: 0;
  }

  h1 {
    margin: 0;
  }

  .location {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: var(--bs-secondary);
    padding-top: 0;
  }
}
