<div class="festival-page container padding-16">
  <div class="blog-preview">
    <div class="content">
      <h3 class="date">{{ 'festival.date' | translate }}</h3>
      <h1 class="page-heading">{{ 'festival.title' | translate }}</h1>
      <a
        class="location btn icon-btn"
        href="https://maps.app.goo.gl/QHXzaEmYmSpUogNm8"
      >
        <i-bs name="geo-alt" height="24" width="24"></i-bs>
        {{ 'festival.location' | translate }}
      </a>
      <p class="mt-5">{{ 'festival.description' | translate }}</p>
    </div>
  </div>
</div>
