.menu-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 1rem;

  &.mobile {
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
  }
}

.toolbar-actions {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
