<app-toolbar></app-toolbar>
<!--
<div>1. Preview neuster Blogbeitrag groß</div>

<div>2. Preview 2. bis 4. Blogbeitrag klein</div>

<div>3. DONATE CTA</div>

<div>4. Über uns Part</div>

<div>5. Contact</div> -->
<div class="content-wrapper">
  <div class="start" id="start">
    Diese Seite befindet sich noch im Aufbau. Schau bald mal wieder vorbei, dann
    gibt es bestimmt noch mehr zu sehen!
  </div>

  <div class="about" id="about">
    <div class="heading">SAMBICO e.V.</div>
    <div class="sub-heading">
      Society of Art and Music Boosting Intercultural Cooperation
    </div>
    <div class="text">
      Hallo, schön das du hier bist & Interesse daran hast, was wir machen.<br /><br />
      Wir sind eine Gruppe junger Menschen, die im Sommer 2022 gemeinsam in
      Sambia auf Reisen war. Wir haben sehr viel Armut gesehen und aber auch wie
      viel Potenzial für Veränderungen in diesem Land steckt. Im Anschluss an
      unsere Reise haben wir daher den Drang verspürt, etwas gutes zu bewirken.
      So entstand nun der Verein Sambico e.V., was bedeutet „Society of Art and
      Music Boosting Intercultural Cooperation“. <br /><br />
      Ziel und Zweck unseres Vereins ist es, durch Musik- und
      Kulturveranstaltungen Jugendliche und alle Interessierten Personen durch
      die Kunst zusammenzubringen, das Leben zu feiern und schöne Erlebnisse
      gemeinsam zu teilen. Mit dem Erlös dieser Veranstaltungen wollen wir
      zukünftig Entwicklungskooperationen in Afrika und speziell in Sambia
      fördern. Gerade sind wir noch dabei uns erste Gedanken und Ideen für
      Förderprogramme zu machen.<br /><br />
      Da sich der Verein erst im Aufbau befindet, organisieren wir uns vorerst
      über Discord. Weitere Social Media Kanäle wie
      <b
        ><a href="https://www.facebook.com/people/Sambico/100090561226512/"
          >Facebook</a
        ></b
      >
      und
      <b
        ><a href="https://instagram.com/sambico?igshid=YmMyMTA2M2Y=">
          Instagram</a
        ></b
      >
      . In Zukunft wird auch diese Webiste immer weiter ausgebaut. Hier kannst
      du dann mehr über unsere Projekte, Events und Möglichkeiten zur
      Unterstützung erfahren.<br /><br />
      Mach mit! - Wenn du Interesse hast dich zu engagieren suchen wir zur Zeit
      vor allem Helfer für unseren Stand auf dem Backnanger Straßenfest am 23.
      Juni bis 26. Juni 2023. <br /><br />
      Zukünftig sind weitere Veranstaltungen, Festivals und Ausstellungen
      geplant, aber auch Workshops und natürlich Projekte in Sambia selbst.
      Solltest du gerade eher wenig Zeit haben aber dennoch Lust dich für eine
      bessere Zukunft einzusetzen, dann kannst du auch nur spenden. Melde dich
      dazu einfach per Mail über
      <b><a href="mailto:kontakt@sambico.de">kontakt@sambico.de</a></b
      ><br /><br />
      Wir freuen uns immer über neue Interessent:innen und Unterstützer:innen,
      die uns bei der Verbesserung der Lebensbedingungen von Jugendlichen in
      Sambia helfen möchten. Mit deiner Hilfe können wir gemeinsam dazu
      beitragen, dass junge Menschen in Sambia eine bessere Zukunft haben und
      ihre Potenziale entfalten können. Be Part of the change! <br /><br />
      Wir freuen uns darauf, dich kennenzulernen! <br /><br />Viele Grüße<br />
      Die Sambico-Gründungsmitglieder:innen
    </div>
  </div>

  <div class="impressum" id="impressum">
    <h1>Impressum</h1>
    <p>
      SAMBICO e.V. <br />
      Murrhardter Str. 30<br />
      71522 Backnang <br />
    </p>
    <p>
      <strong>Vertreten durch: </strong><br />
      Silvan Vollmer<br />
      Laura Radatz<br />
      Julian Hofer<br />
      Janine Weißschuh<br />
      Max Härtner<br />
    </p>
    <p>
      <strong>Kontakt:</strong><br />
      Murrhardter Str. 30<br />
      71522 Backnang<br />
      E-Mail: <a href="mailto:kontakt@sambico.de">kontakt@sambico.de</a><br />
    </p>
    <p>
      <strong>Registereintrag: </strong><br />
      Vereinsregister des Amtsgerichts Stuttgart <br />
      Registernummer: VR 725855<br />
    </p>
    <!-- <p>
      <strong>Umsatzsteuer-ID: </strong> <br />
      Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz:
      Musterustid.<br /><br />
      <strong>Wirtschafts-ID: </strong><br />
      Musterwirtschaftsid<br />
    </p> -->
    <!-- <p>
      <strong>Aufsichtsbehörde:</strong><br />
      Musteraufsicht Musterstadt<br />
    </p> -->
    <!-- <p>
      <strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</strong
      ><br />
      Max Muster <br />
      Musterweg<br />
      12345 Musterstadt <br />
    </p> -->
    <!-- <p>
      <strong>Haftungsausschluss: </strong><br /><br /><strong
        >Haftung für Inhalte</strong
      ><br /><br />
      Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die
      Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch
      keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG
      für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen
      verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch
      nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu
      überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige
      Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der
      Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon
      unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt
      der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden
      von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend
      entfernen.<br /><br /><strong>Haftung für Links</strong><br /><br />
      Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren
      Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden
      Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten
      Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten
      verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung
      auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum
      Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche
      Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte
      einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von
      Rechtsverletzungen werden wir derartige Links umgehend entfernen.<br />
    </p> -->
    <br />
  </div>
</div>
