<h1 class="page-heading">{{ "projects.title" | translate }}</h1>
<div class="card-container">
  <h4 class="info-card">
    {{ "projects.info" | translate }}
  </h4>

  <div class="project-preview-card" *ngFor="let project of projects">
    <div class="content-wrapper">
      <h2 class="margin-bottom-8">{{ project.attributes.title }}</h2>
      <h4 class="margin-bottom-8">{{ project.attributes.subtitle }}</h4>
      <div
        class="content"
        [innerHTML]="project.attributes.content | markdown"
      ></div>
    </div>
  </div>
</div>
