.wrapper {
  padding: 2rem;
}

.heading {
  text-align: center;
  margin: 0 0 1rem;
  width: 100%;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 2rem 0;
  justify-content: center;
  margin: 2rem auto;
  width: 100%;
}

.project-preview-card {
  padding: 1.5rem;
  border-radius: 5px;
  background-color: var(--bs-secondary);
  transform: rotate(2deg);
  max-width: 480px;
  min-width: 280px;
  width: 100%;
}

.content-wrapper {
  transform: rotate(-2deg);
  height: 100%;
  position: relative;
}

.content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.more-button {
  margin-left: auto;
  margin-top: 1rem;
}

.all-button {
  margin: 0 auto;
}
