:host {
  max-width: 1200px;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding-bottom: 16px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px;
  padding: 32px;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.project-preview-card {
  padding: 24px;
  border-radius: 5px;
  background-color: var(--bs-secondary);
  transform: rotate(2deg);
  max-width: 480px;
  min-width: 280px;
  width: 100%;
}

.content-wrapper {
  transform: rotate(-2deg);
  height: 100%;
  position: relative;
}

.content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.more-button {
  margin-left: auto;
  margin-top: 16px;
}

.all-button {
  margin: 0 auto;
}
