<div class="wrapper">
  <h1 class="heading">{{ "projectPreview.title" | translate }}</h1>
  <div class="card-container">
    <div
      class="project-preview-card"
      *ngFor="let project of projects.slice(0, 2)"
    >
      <div class="content-wrapper">
        <h2 class="margin-bottom-8">{{ project.attributes.title }}</h2>
        <div class="content">
          <p [innerHTML]="project.attributes.content | markdown"></p>
        </div>
        <!-- <button
        class="btn icon-btn more-button"
        [routerLink]="routes.PROJECTS + '/' + project.id"
      >
        {{ "readMore" | translate }}
        <img height="18px" src="assets/icons/chevron-right.svg" />
      </button> -->
      </div>
    </div>
  </div>
  <button class="btn icon-btn all-button" [routerLink]="'/' + routes.PROJECTS">
    {{ "projectPreview.showAll" | translate }}
    <i-bs name="chevron-right" width="20" height="20"> </i-bs>
  </button>
</div>
