slideshow-container {
  height: 640px;

  &.mobile {
    height: unset;
  }

  display: block;
}

.carousel-caption {
  padding: 8px;
}

slide {
  img {
    object-fit: cover;
    height: 640px;

    &.mobile {
      height: unset;
      max-height: 480px;
    }
  }
}
