<div class="blog-preview" [class.mobile]="isMobile | async">
  <div class="image-container">
    <img
      (click)="openImage(blog.attributes.image.data.attributes.formats)"
      class="image"
      [src]="
        strapiService.getStrapiImageUrl(
          blog.attributes.image.data.attributes.formats,
          (isMobile | async) ? 'small' : 'xlarge'
        )
      "
      alt="blog image"
    />
  </div>
  <div class="content">
    <!-- <span>{{ blog.attributes.createdAt | date : "dd.MM.YYYY, hh:mm" }}</span> -->
    <h2 class="title">{{ blog.attributes.title }}</h2>
    <h4 class="subtitile" *ngIf="blog.attributes.subTitle">
      {{ blog.attributes.subTitle }}
    </h4>
    <p class="text" [innerHTML]="blog.attributes.content | markdown"></p>
  </div>
</div>
