@font-face {
  font-family: "poppins-thin";
  src: url("./assets/fonts/Poppins-Thin.ttf");
}

@font-face {
  font-family: "poppins-thin-italic";
  src: url("./assets/fonts/Poppins-ThinItalic.ttf");
}

@font-face {
  font-family: "poppins-light";
  src: url("./assets/fonts/Poppins-ExtraLight.ttf");
}

@font-face {
  font-family: "poppins-light-italic";
  src: url("./assets/fonts/Poppins-ExtraLightItalic.ttf");
}

@font-face {
  font-family: "poppins-medium";
  src: url("./assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "poppins-medium-italic";
  src: url("./assets/fonts/Poppins-MediumItalic.ttf");
}

@font-face {
  font-family: "vollkorn";
  src: url("./assets/fonts/Vollkorn-Regular.ttf");
}

@font-face {
  font-family: "vollkorn-bold";
  src: url("./assets/fonts/Vollkorn-ExtraBold.ttf");
}

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "./variables.scss";

@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/utilities";

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  background-color: var(--bs-primary);
}

body,
html {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "poppins-light";
  font-size: calc(15px + 0.390625vw);
}

// overwrite nested innerHTML styles in the component
app-projects {
  .content {
    a {
      color: inherit;
      font-weight: bold;
    }
  }
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  font-weight: unset;
}

h1 {
  font-family: "vollkorn-bold";
  font-size: calc(28px + 0.390625vw);

  @media (min-width: 768px) {
    font-size: calc(36px + 0.390625vw);
  }

  &.page-heading {
    color: var(--bs-light);
    text-align: center;
    font-size: calc(42px + 0.390625vw);
    margin: 1.5rem auto 1rem;

    @media (min-width: 768px) {
      margin: 3rem auto 2rem;
      font-size: calc(52px + 0.390625vw);
    }
  }
}

h2 {
  font-family: "poppins-medium";
  font-size: calc(24px + 0.390625vw);

  @media (min-width: 768px) {
    font-size: calc(30px + 0.390625vw);
  }
}

h3 {
  font-family: "poppins-medium";
  font-size: calc(20px + 0.390625vw);

  @media (min-width: 768px) {
    font-size: calc(24px + 0.390625vw);
  }
}

h4 {
  font-family: "poppins-light";
  font-size: calc(16px + 0.390625vw);

  @media (min-width: 768px) {
    font-size: calc(18px + 0.390625vw);
  }
}

p {
  white-space: pre-line;

  a {
    text-decoration: inherit;
    color: var(--bs-secondary);

    &:hover {
      font-weight: bold;
      color: var(--bs-secondary);
    }
  }
}

.btn {
  text-transform: uppercase;
  font-family: "poppins-medium";
  transition: all 0.1s linear;

  &.icon-btn {
    display: flex;
    align-items: end;
    gap: 6px;

    i-bs {
      font-weight: inherit;
      margin-bottom: 2px;
    }
  }

  &:hover {
    opacity: 0.7;
  }
}

$paddingDirection: ("right", "left", "top", "bottom");
$paddingLength: (4, 8, 16, 32);

@each $len in $paddingLength {
  .padding-#{$len} {
    padding: #{$len}px;
  }
}

@each $dir in $paddingDirection {
  @each $len in $paddingLength {
    .padding-#{$dir}-#{$len} {
      padding-#{$dir}: #{$len}px;
    }
  }
}

$marginDirection: ("right", "left", "top", "bottom");
$marginLength: (4, 8, 16, 32);

@each $len in $marginLength {
  .margin-#{$len} {
    margin: #{$len}px;
  }
}

@each $dir in $marginDirection {
  @each $len in $marginLength {
    .margin-#{$dir}-#{$len} {
      margin-#{$dir}: #{$len}px;
    }
  }
}
