@font-face {
  font-family: "thin";
  src: url("./assets/fonts/Poppins-Thin.ttf");
}

@font-face {
  font-family: "thin-italic";
  src: url("./assets/fonts/Poppins-ThinItalic.ttf");
}

@font-face {
  font-family: "light";
  src: url("./assets/fonts/Poppins-ExtraLight.ttf");
}

@font-face {
  font-family: "light-italic";
  src: url("./assets/fonts/Poppins-ExtraLightItalic.ttf");
}

@font-face {
  font-family: "medium";
  src: url("./assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "medium-italic";
  src: url("./assets/fonts/Poppins-MediumItalic.ttf");
}

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "./variables.scss";

@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/utilities";

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  background-color: var(--bs-light);
}

body,
html {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "light";
  font-size: calc(15px + 0.390625vw);
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  color: var(--bs-secondary); /* blue colors for links too */

  &:hover {
    font-weight: bold;
    color: var(--bs-secondary); /* blue colors for links too */
  }
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  font-weight: unset;
}

h1 {
  font-family: "medium";
  font-size: calc(36px + 0.390625vw);
}

h2 {
  font-family: "medium";
  font-size: calc(32px + 0.390625vw);
}

h3 {
  font-family: "medium";
  font-size: calc(28px + 0.390625vw);
}

h4 {
  font-family: "light";
  font-size: calc(22px + 0.390625vw);
}

$paddingDirection: ("right", "left", "top", "bottom");
$paddingLength: (4, 8, 16, 32);

@each $len in $paddingLength {
  .padding-#{$len} {
    padding: #{$len}px;
  }
}

@each $dir in $paddingDirection {
  @each $len in $paddingLength {
    .padding-#{$dir}-#{$len} {
      padding-#{$dir}: #{$len}px;
    }
  }
}

$marginDirection: ("right", "left", "top", "bottom");
$marginLength: (4, 8, 16, 32);

@each $len in $marginLength {
  .margin-#{$len} {
    margin: #{$len}px;
  }
}

@each $dir in $marginDirection {
  @each $len in $marginLength {
    .margin-#{$dir}-#{$len} {
      margin-#{$dir}: #{$len}px;
    }
  }
}
