html,
body {
  margin: 0;
  scroll-behavior: smooth;
}

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

@import './variables.scss';

/* Importing Datepicker SCSS file. */
@import 'node_modules/ngx-bootstrap/datepicker/bs-datepicker';

@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap/scss/utilities';
// Required

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
